.search {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 8px;
	padding: 20px 15px;
	background-color: #252728;
}

.title {
	text-align: center;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 500;
	color: #5aa7ff;
}

.label {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.fieldWrap {
	position: relative;
}

.field {
	border-radius: 5px;
	padding: 12px 15px 12px 43px;
	width: 100%;
	color: #fff;
	background-color: #252728;
	border: 1px solid #fff;
	border-color: rgba(255, 255, 255, .7);
	outline: none;
	transition: border-color 0.3s ease 0s, box-shadow 0.3s ease;
	font-size: 16px;

	&:hover,
	&:focus {
		border-color: #0866FF;
	}

	&:focus {
		box-shadow: 0 0 0 1px #0866FF;
	}

	&::placeholder {
		color: rgba(255, 255, 255, .4);
	}
}

.fieldIcon {
	position: absolute;
	left: 14px;
	top: calc(50% - 1px);
	transform: translateY(-50%);
	color: #fff;
	font-size: 20px;
}

.floatingLabel {
	position: absolute;
	top: 0;
	left: 39px;
	transform: translateY(-50%);
	padding: 0 5px;
	background-color: #252728;
	color: #5aa7ff;
	font-size: 12px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	&.isActive {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

}