.contactForm {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 8px;
	padding: 20px 15px;
	background-color: #252728;
}

.title {
	text-align: center;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 500;
	color: #5aa7ff;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.label {
	display: flex;
	gap: 12px;
}

.icon {
	font-size: 18px;
}

.fieldWrap {
	width: 100%;
	position: relative;
}

.fieldIcon {
	position: absolute;
	top: calc(50% - 1px);
	left: 14px;
	transform: translateY(-50%);
	transition: color 0.3s ease 0s;
	font-size: 20px;

	.fieldWrap.error & {
		color: #F02849;
	}
}

.field {
	border-radius: 5px;
	padding: 12px 15px 12px 44px;
	width: 100%;
	color: #fff;
	background-color: #252728;
	border: 1px solid #fff;
	border-color: rgba(255, 255, 255, .7);
	outline: none;
	transition: color 0.3s ease 0s, border-color 0.3s ease 0s, box-shadow 0.3s ease;
	font-size: 16px;

	&:hover,
	&:focus {
		border-color: #0866FF;
	}

	&:focus {
		box-shadow: 0 0 0 1px #0866FF;
	}

	.fieldWrap.error & {
		border-color: #F02849;
		color: #F02849;

		&:focus {
			box-shadow: 0 0 0 1px #F02849;
		}
	}
}

.floatingLabel {
	position: absolute;
	top: 50%;
	left: 39px;
	transform: translateY(-50%);
	padding: 0 5px;
	background-color: #252728;
	color: rgba(255, 255, 255, .4);
	transition: top 0.3s ease, transform 0.3s ease, font-size 0.3s ease, color 0.3s ease 0s;
	pointer-events: none;

	.fieldWrap.error & {
		color: #F02849;
	}
}

.field:focus+.floatingLabel {
	top: 0;
	transform: translateY(-50%);
	font-size: 12px;
	color: #5aa7ff !important;

	.fieldWrap.error & {
		color: #F02849 !important;
	}
}

.field:not(:placeholder-shown)+.floatingLabel {
	top: 0;
	transform: translateY(-50%);
	font-size: 12px;
	color: rgba(255, 255, 255, .7);

	.fieldWrap.error & {
		color: #F02849;
	}
}

.floatingError {
	color: #F02849;
	font-size: 12px;
	position: absolute;
	top: calc(100% + 5px);
	left: 44px;
}

.btn {
	background-color: #0866FF;
	border-radius: 5px;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 8px;
	margin: 0 auto;
	outline: none;
	transition: background-color 0.3s ease 0s;

	&:hover,
	&:focus {
		background-color: #4A74F3;
	}

	svg {
		font-size: 1.1em;
		position: relative;
		top: -1px;
	}
}