#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	min-height: 100vh;
}

.header {
	background-color: #0866FF;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 1130px;
	padding: 0 15px;
	flex-grow: 1;
	width: 100%;
}

.footer {
	background-color: #0866FF;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 100%;
}