/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

.roboto-regular {
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: "Roboto", serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-regular-italic {
	font-family: "Roboto", serif;
	font-weight: 400;
	font-style: italic;
}


/* Reset CSS */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
}

address {
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Project settings */
body {
	min-height: 100vh;
	line-height: 1;
	overflow-wrap: break-word;
	min-width: 320px;
	background-color: #1C1C1D;
	font-size: 16px;
	color: #fff;
	font-family: 'Roboto', 'Arial', sans-serif;
	background-image: linear-gradient(rgba(28, 28, 29, 0.96), rgba(28, 28, 29, 0.96)), url('./img/bg.png');

	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}